@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', sans-serif;
}
h1 {
	line-height: 72px;
	font-size: 60px;
}
h2 {
	font-size: 40px;
}
h4 {
	font-size: 20px;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 16px;
}
a, a:hover {
	text-decoration: none;
	color: #465270;
}
.main-wrapper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 150px;
	flex: 1 0 auto;
}
.block {
	margin-bottom: 100px;
}
.button {
	height: 60px;
	padding: 0 20px;
	border-radius: 30px;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 16px;
}
/* ====================== HEADER ====================== */
.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	line-height: 80px;
	.logo {
		margin-top: 10px;
	}
}
.nav a {
	margin-left: 35px;
}
.get-started, .get-started:hover {
	padding: 10px 25px;
	background: linear-gradient(157.13deg, #F9615E 14.45%, #FF625F 72.89%);
	border-radius: 20px;
	color: #fff;
	cursor: pointer;
}
/* ====================== MAIN CONTENT STYLES ====================== */
.h1-block {
	div {
		max-width: 540px;
		h1 {
			margin-bottom: 35px;
		}
		p {
			line-height: 25px;
			color: #838992;
		}
	}
}
.call-to-action {
	height: 120px;
	display: flex;
	justify-content: space-between;
	padding: 50px 30px;
	margin: 205px 0;
	border-radius: 60px;
	background: linear-gradient(169.92deg, #F9615E 14.45%, #FF625F 72.89%);
	color: #fff;
	.button {
		position: relative;
		top: -20px;
		color: #FF625F;
	}
}
.why-block {
	text-align: center;
	h2 {
		position: relative;
		margin-bottom: 70px;
	}
}
.why-block h2, .blue-line {
	position: relative;
}
.why-block h2:after, .blue-line:after {
	position: absolute;
	top: 55px;
	left: 48%;
	content: " ";
	color: transparent;
	width: 50px;
	height: 4px;
	background: linear-gradient(175.06deg, #0992E5 0%, #1AB9CB 92.43%);
}
.why-content {
	display: flex;
	justify-content: space-between;
	div {
		width: 50%;
		margin: 0 10px;
	}
	h4 {
		margin: 10px 0;
	}
	p {
		line-height: 30px;
		color: #838992;
	}
}
/* ====================== QUESTION BLOCK OPTIONS ====================== */
.question-block {
	display: flex;
	justify-content: space-between;
}
.qleft-side, .qright-side {
	width: 50%;
	.blue-line {
		margin-bottom: 35px;
	}
	.blue-line:after {
		left: 0px;
	}
	h3 {
		margin-bottom: 20px;
		font-size: 20px;
		color: #465270;
	}
	p {
		margin-bottom: 20px;
		line-height: 30px;
		font-size: 16px;
		color: #838992;
	}
	.button {
		width: 220px;
	}
}
.qright-side .button {
	color: #fff;
	background: linear-gradient(342.73deg, #1DC58D 6.45%, #1DC0B8 94.28%);
}
.qleft-side .button {
	color: #fff;
	background: linear-gradient(158.95deg, #F9615E 14.45%, #FF625F 72.89%);
}


















